#input {
    display: flex;
    flex-direction: column;

    small {
        color: #ff0000;
        margin-top: 10px;
    }
}

input {
    width: 683px;
    color:#363443;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 5px solid #363443;
    background: transparent;
    font-size: 40px;
}

input:focus {
    color:#15F7D9;
    border-bottom: 5px solid #15F7D9;
    outline: none;
}

.input-invalid {
    border-bottom: 5px solid #ff0000;
}