.header-2 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5% 6% 0px 110px;

    .social-network-2 {
        display: flex;
        color: #fff;
        margin-top: -10px;

        #social-network-text-2 {
            text-align: right;

            p:first-child {
                font-weight: 600;
                font-size: 14.5px;
                color: rgb(183,182,185);
                margin-bottom: 0px;
            }

            p:last-child {
                font-weight: 600;
                font-size: 21px;
                margin-top: -5px;
            }
        }

        img {
            width: 40px;
            margin-left: 28px;
        }
    }
}