#button {
    border: none;
    border-radius: 100px;
    padding: 12px 60px;
    background: linear-gradient(90deg, #15FFAB 0%, #15F1FF 100%);
    font-size: 28px;
    font-weight: 800;
    cursor: pointer;
    text-decoration: none;

    span {
        margin-right: 10px;
    }

    img {
        width: 25px;
    }
}